.body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
    

ul {
    display: flex;
    gap: 15px;
    margin-right: 65px;
    list-style: none;
}

.logo {
    
    padding-left: 65px;
    font-size: 24px;
    color: #F9FAF8;
    
}

.messege {
    display: flex;
    font-size: 38px;
    color: #F9FAF8;
    align-items: center;
    margin: 65px;
    margin-bottom: 0%;
    padding-bottom: 50px;
    gap: 20px;
}

.messege div {
    display: flex;
    justify-content: center;
    flex: 1;
}

.messege2 {
    padding: 45px 35px;
    background: darkgray;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 16px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
